{% if source is same as('material') %}
  <span class="material-symbols-outlined">{{ name }}</span>
{% endif %}

{% if source is same as('custom') %}
  <svg class="icon icon--custom icon-{{name}}" aria-hidden="true" role="img">
    <title>{{title}}</title>
    {% if desc %}
      <desc>{{desc}}</desc>
    {% endif %}
    <use xlink:href="#icon-{{name}}"></use>
  </svg>
{% endif %}